* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background: #1e272e;
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 520px;
  min-height: 600px;
  background: #3b4750;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #718093; 
  outline: none;
  width: 320px;
  background: #2f3640; 
  color: #fff; 
}

.todo-input::placeholder {
  color: #718093;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: #3b5998; 
  color: #fff; 
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid rgb(183, 70, 39);
}

.todo-button.edit {
  background: #e74c3c; 
  color: #fff;
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff; /* 白色文字 */
  background: #2f3640; /* 深灰色背景 */
  padding: 16px;
  border-radius: 5px;
  width: 90%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 添加陰影效果 */
}

.todo-row:nth-child(4n + 1) {
  background: #3b5998; /* 深藍色背景 */
}

.todo-row:nth-child(4n + 2) {
  background: #9b59b6; /* 紫色背景 */
}

.todo-row:nth-child(4n + 3) {
  background: #e74c3c; /* 紅色背景 */
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff; /* 白色文字 */
}

.edit-icon {
  color: #fff; /* 白色文字 */
}
